/* IMPORTAR FUENTES CUSTOM*/

@font-face{
    font-family: "yanone";
    src: url("fonts/YanoneKaffeesatz-Regular.ttf");

}

@font-face{
    font-family: "finger";
    src: url("fonts/FingerPaint-Regular.ttf");
}

/*Generales*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "yanone",Arial, Helvetica;
    font-size: 20px;
    background: url("../img/pattter2.jpg");
    background-attachment: fixed;
}
.clearfix{
    float: none;
    clear: both;
}

/* BARRA DE NAVEGACION HEADER */
header{
    width: 100%;
    height: 90px;
    background: rgba(53,103,164,0.8);
    position: fixed;
    display: block;
    text-transform: uppercase;

}

header ul{
    display: block;
    width: 39%;
    height: inherit;
    margin: 0px auto;
    margin-top: -3px;

}

header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 88px;
}

header a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}


header a:hover,
.actived{
background: rgba(0,0,0,0.8);
}

#LOGO{
    font-family: "finger" ;
    font-size: 26px;
}

#LOGO a{
    transition: color 500ms, transform 500ms;   
}

#LOGO a:hover{
    background: transparent;
    color: black;
    transform:scale(1.40,1.40) ;
}

/*Contenedor Principal*/
#content{
    height: 43vw;
    width: 75%;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    background: rgba(255,255,255,0.7);
    padding-top: 120px;
}

/*PIE DE PAGINA*/
footer{
    width: 75%;
    margin: 0PX auto;
    padding-top: 25px;
    color:rgba(0,0,0,0.5) ;
}

/*Sobre mi*/

#title{

    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}


#title h1{
    font-family: "finger";
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;

}

#title h2{
    font-size: 25px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;

}

article.about{
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}

.about h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p{
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: justify;
}