
<header>
<ul>
  <li><a  [routerLink]="['/sobre-mi']"[routerLinkActive]="['actived']" >Sobre mi</a></li>
  <li><a  [routerLink]="['/proyectos']" [routerLinkActive]="['actived']" >Proyectos</a></li>
  <li   id="LOGO" ><a href="#">MisterJS</a></li>
  <li><a  [routerLink]="['/crear-proyect']" [routerLinkActive]="['actived']" >Crear proyecto</a></li>
  <li><a  [routerLink]="['/contacto']" [routerLinkActive]="['actived']" >Contacto</a></li>
</ul>
</header>

<section id="content" >
<router-outlet></router-outlet>
</section>


<footer>
Visorem Team.org  &copy;
</footer>